{# SRX service 
applications {
    application tcp-5000 {
        protocol tcp;
        destination-port 5000;
    }
}
#}
applications {
{% for key, value in protocols.items() %}
  {% for v in protocols[key] %}
    {% if v.port_range %}
    application {{ key }}-{{ v.port_range.start }}-{{ v.port_range.end }} {
        protocol {{ key }};
        destination-port {{ v.port_range.start }}-{{ v.port_range.end }};
    }
    {% else %}
    application {{ key }}-{{ v.port }} {
        protocol {{ key }};
        destination-port {{ v.port }};
    }
    {% endif %}
  {% endfor %}
{% endfor %}
}
