{# SRX service 
applications {
    application tcp-5000 {
        protocol tcp;
        destination-port 5000;
    }
}
#}
applications {
{% for key, value in applications.items() %}
  {% for v in value %}
    application {{ key }}-{{ v.port }} {
        protocol {{ key }};
        destination-port {{ v.port }};
    }
  {% endfor %}
{% endfor %}
}
