{#
object-group service microsoft-ad-tcp tcp
 port-object eq 25
 port-object eq 53
 port-object eq 88
 port-object eq 135
 port-object eq 139
 port-object eq 389
 port-object eq 445
 port-object eq 464
 port-object eq 636
 port-object eq 3268
 port-object eq 3269
 port-object eq 5722
 port-object eq 9389
 port-object range 1024 5000
 port-object range 49152 65535
#}

{% for key, value in protocols.items() %}
object-group service {{ description }}-{{ key }} {{ key }}
  {% for v in protocols[key] %}
    {% if v.port_range %}
 port-object range {{ v.port_range.start }} {{ v.port_range.end }}
    {% else %}
 port-object eq {{ v.port }}
    {% endif %}
  {% endfor %}
{% endfor %}

